@using System.Runtime.InteropServices.JavaScript
@model IEnumerable<Product>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Имя</th>
        <th> (руб)</th>
        <th>Вес (кг)</th>
        <th></th>
        <th></th>
        <th></th>
        
        
    </tr>
    </thead>
    <tbody>
    @{
        foreach(var obj in Model)
        {
            <tr>
                
                <td>@obj.Name</td>
                <td>@obj.Price rub</td>
                <td>@obj.Weight kg</td>

                <td>
                    <a class="btn btn-sm btn-info" asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id">Изменить</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-secondary" asp-controller="Product" asp-action="Details" asp-route-id="@obj.Id">Подробнее</a>
                </td>
                <td>
                    <form asp-route-id="@obj.Id" asp-action="Delete" asp-controller="Product" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
                
            </tr>
        }
    }
    </tbody>
</table>
